%nav.navbar.categories-navbar-dummy{style: "display: none;"}
%nav.navbar.categories-navbar.simple-slider
  .left-arrow
  .slider-items-container
    .slider-items-wrapper
      %ul.slider-items
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  .icon.icon-service-concurrent-analytics
              %td.item-name
                %a
                  Маркетологам
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.item-name
                %a
                  Аналитика
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/concurent_analytics.png"}
              %td.item-name
                %a
                  Конкурентный анализ
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/call_center.png"}
              %td.item-name
                %a
                  Услуги call-центра
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/goodness.png"}
              %td.item-name
                %a
                  Оценка удовлетворенности
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/brand_health.png"}
              %td.item-name
                %a
                  Узнаваемость, здоровье бренда
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/calc_volume.png"}
              %td.item-name
                %a
                  Расчет ёмкости и долей рынка
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/examples.png"}
              %td.item-name
                %a
                  Примеры работ
  .right-arrow