%nav.navbar.contacts-panel
  .container
    .row
      .col-xs-4
        %span.icon.icon-research
        %a{href: "#"}
          Бриф на исследование
      .col-xs-4.center
        %span.icon.icon-earphone
        +7 (495) 726-73-17
      .col-xs-4.right
        %span.icon.icon-envelope
        %a{href: "mailto:mail@bcgroup.su"}
          mail@bcgroup.su