%nav.navbar.contacts-panel
  .container
    .row
      .col-xs-4
        .logo
      .col-xs-4.margin-col.center
        %span.icon.icon-earphone
        +7 (495) 726-73-17
      .col-xs-4.margin-col.right
        %span.icon.icon-envelope
        %a{href: "mailto:mail@bcgroup.su"}
          mail@bcgroup.su