%table.right-quick-menu
  %tr.menu-item
    %td.item-text
      %a
        Бриф на исследование
    %td.item-icon
      %a
        %img{src: "/img/research.png"}
  %tr.menu-item
    %td.item-text
      %a
        Личный кабинет
    %td.item-icon
      %a
        %img{src: "/img/personal_cabinet.png"}
  %tr.menu-item
    %td.item-text
      %a
        Рассчёт стоимости
    %td.item-icon
      %a
        %img{src: "/img/calc_price.png"}
