%table.left-quick-menu.quick-menu
  %tr.menu-item
    %td.item-icon
      %a{href: "https://www.facebook.com/BCGroupRussia"}
        %img{src: "/img/facebook.png"}
  %tr.menu-item
    %td.item-icon
      %a{href: "https://twitter.com/bcgrouprussia"}
        %img{src: "/img/twitter.png"}
  %tr.menu-item
    %td.item-icon
      %a{href: "https://www.linkedin.com/company/bcgroup-russia"}
        %img{src: "/img/linkedin.png"}
  %tr.menu-item
    %td.item-icon
      %a{href: "mailto:mail@bcgroup.su"}
        %img{src: "/img/mail.png"}


%table.right-quick-menu.quick-menu
  %tr.menu-item
    %td.item-text
      %a
        Бриф на исследование
    %td.item-icon
      %a
        %img{src: "/img/research.png"}
  %tr.menu-item
    %td.item-text
      %a
        Личный кабинет
    %td.item-icon
      %a
        %img{src: "/img/personal_cabinet.png"}
  %tr.menu-item
    %td.item-text
      %a
        Цены
    %td.item-icon
      %a
        %img{src: "/img/calc_price.png"}
