%section.footer
  .container
    .row
      .col-xs-4
        .left
          Москва
          105318
        .right
          Москва
          105318
      .col-xs-4
        Footer
      .col-xs-4
        Footer
    .row
      .col-xs-9
        Footer
      .col-xs-3
        Разработано студией Mono