<section class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-4'>
        <div class='left'>
          Москва
          105318
        </div>
        <div class='right'>
          Москва
          105318
        </div>
      </div>
      <div class='col-xs-4'>
        Footer
      </div>
      <div class='col-xs-4'>
        Footer
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-9'>
        Footer
      </div>
      <div class='col-xs-3'>
        Разработано студией Mono
      </div>
    </div>
  </div>
</section>
