<section class='footer'>
  <div class='container'>
    <table class='addresses'>
      <tr>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Москва
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Екатеринбург
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Санкт-Петербург
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Омск
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Новосибирск
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class='address'>
            <div class='left'>
              <div class='city'>
                Нижний Новгород
              </div>
              <div class='zip'>
                105318
              </div>
            </div>
            <div class='right'>
              <div class='street'>
                Семеновская площадь, д. 7
              </div>
              <div class='phone'>
                +7 (495) 726 73 17
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class='row copyright'>
      <div class='col-xs-9'>
        2006-2014 «
        <span class='yellow-text'>
          BCGroup
        </span>
        » — маркетинговое агенство в Москве
      </div>
      <div class='col-xs-3'>
        Разработано студией
        <a href='#'>
          Mono
        </a>
      </div>
    </div>
  </div>
</section>
