%section.footer
  .container
    %table.addresses
      %tr
        %td
          .address
            .left
              .city
                Москва
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
        %td
          .address
            .left
              .city
                Екатеринбург
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
        %td
          .address
            .left
              .city
                Санкт-Петербург
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
      %tr
        %td
          .address
            .left
              .city
                Омск
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
        %td
          .address
            .left
              .city
                Новосибирск
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
        %td
          .address
            .left
              .city
                Нижний Новгород
              .zip
                105318
            .right
              .street
                Семеновская площадь, д. 7
              .phone
                +7 (495) 726 73 17
    .row.copyright
      .col-xs-9
        2006-2014 «
        %span.yellow-text
          BCGroup
        » — маркетинговое агенство в Москве
      .col-xs-3
        Разработано студией
        %a{href: "#"}
          Mono