<nav class='navbar'>
  <div class='container'>
    <div class='navbar-collapse collapse' id='navbar'>
      <ul class='nav navbar-nav'>
        <li>
          <a>
            География
          </a>
        </li>
        <li>
          <a>
            Услуги
          </a>
        </li>
        <li>
          <a>
            Проекты и клиенты
          </a>
        </li>
        <li>
          <a>
            Контакты
          </a>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a>
            RU
          </a>
        </li>
        <li>
          <a>
            FR
          </a>
        </li>
        <li>
          <a>
            GER
          </a>
        </li>
      </ul>
      <div class='pull-right'>
        <span class='glyphicon glyphicon-earphone'></span>
        +7 (495) 726-73-17
        <br>
        <span class='glyphicon glyphicon-envelope'></span>
        mail@bcgroup.su
      </div>
      <form class='navbar-form'>
        <input class='form-control' type='text'>
      </form>
    </div>
  </div>
</nav>
<div class='jumbotron'>
  <div class='container-fluid'>
    <h1>
      BCGroup
    </h1>
  </div>
</div>
<nav class='navbar'>
  <div class='container'>
    <div class='navbar-collapse collapse' id='navbar'>
      <ul class='nav navbar-nav'>
        <li>
          <a>
            Маркетологам
          </a>
        </li>
        <li>
          <a>
            Аналитика
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
