%section.header
  %nav.navbar
    .container
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a
              %span
                География
          %li
            %a
              %span
                Услуги
          %li
            %a
              %span
                Проекты и клиенты
          %li
            %a
              %span
                Контакты
        %ul.nav.navbar-nav.navbar-right
          %li
            %a
              RU
          %li
            %a
              FR
          %li
            %a
              GER
        %div.pull-right
          %span.glyphicon.glyphicon-earphone
          +7 (495) 726-73-17
          %br
          %span.glyphicon.glyphicon-envelope
          mail@bcgroup.su
        %form.navbar-form
          %input.form-control{type: "text"}
  .jumbotron
    .container-fluid
      .bcg
        .roup
          roup
      %h1
        BCGroup

%nav.navbar
  .container
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a
            Маркетологам
        %li
          %a
            Аналитика