%section.header
  %nav.navbar
    .container
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.main-menu
          %li
            %a
              %span
                География
          %li
            .divider
          %li
            %a
              %span
                Услуги
          %li
            .divider
          %li
            %a
              %span
                Проекты и клиенты
          %li
            .divider
          %li
            %a
              %span
                Контакты
        %form.navbar-form.pull-left.search-form
          .input-group
            %span.input-group-addon
              .search-len
            %input.form-control.search-input{type: "text"}
        .contacts.pull-left
          .earphone.pull-left
          +7 (495) 726-73-17
          %br
          .envelope.pull-left
          mail@bcgroup.su
        %ul.languages.nav.navbar-nav.navbar-right
          %li.active
            %a
              %span
                Ru
          %li
            .divider
          %li
            %a
              %span
                Fr
          %li
            .divider
          %li
            %a
              %span
                Ger
  .jumbotron
    .container-fluid
      .bcg
        .roup
          roup
        .u-human
        .company-purpose
          Исследовательское агенство

%nav.navbar.categories-navbar
  .left-arrow
  .menu-items-container
    .menu-items-wrapper
      %ul.menu-items
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Маркетологам
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Расчёт ёмкости и долей рынка
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Узнаваемость, здоровье бренда
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Примеры работ
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Оценка удовлетворенности
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Оценка удовлетворенности
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Оценка удовлетворенности
        %li
          %table.menu-item
            %tr
              %td.category-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.category-name
                %a
                  Оценка удовлетворенности
  .right-arrow