%section.header
  %nav.navbar
    .container.modified
      .logo
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.main-menu
          %li.active
            %a
              %span
                География
          %li
            .divider
          %li
            %a
              %span
                Услуги
          %li
            .divider
          %li
            %a
              %span
                Проекты и клиенты
          %li
            .divider
          %li
            %a
              %span
                Контакты
        %form.navbar-form.pull-left.search-form
          .input-group
            %span.input-group-addon
              .icon.icon-search-len
            %input.form-control.search-input{type: "text"}
        .contacts.pull-left
          .icon.icon-earphone.pull-left
          +7 (495) 726-73-17
          %br
          .icon.icon-envelope.pull-left
          %a{href: "mailto:mail@bcgroup.su"}
            mail@bcgroup.su
        %ul.languages.nav.navbar-nav.navbar-right
          %li.active
            %a
              %span
                Ru
          %li
            .divider
          %li
            %a
              %span
                Fr
          %li
            .divider
          %li
            %a
              %span
                Ger
  .jumbotron
    .container-fluid
      .bcg
        %img{src: "/img/BCG_clear.png", height: "367",  width: "845"}
        -#.roup
          -#roup
        -#.u-human
        -#.company-purpose
        -#  Исследовательское агенство

%nav.navbar.categories-navbar-dummy{style: "display: none;"}
%nav.navbar.categories-navbar.simple-slider
  .left-arrow
  .slider-items-container
    .slider-items-wrapper
      %ul.slider-items
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  .icon.icon-service-concurrent-analytics
              %td.item-name
                %a
                  Маркетологам
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/analytics.png"}
              %td.item-name
                %a
                  Аналитика
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/concurent_analytics.png"}
              %td.item-name
                %a
                  Конкурентный анализ
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/call_center.png"}
              %td.item-name
                %a
                  Услуги call-центра
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/goodness.png"}
              %td.item-name
                %a
                  Оценка удовлетворенности
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/brand_health.png"}
              %td.item-name
                %a
                  Узнаваемость, здоровье бренда
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/calc_volume.png"}
              %td.item-name
                %a
                  Расчет ёмкости и долей рынка
        %li
          %table.slider-item
            %tr
              %td.item-icon
                %a
                  %img{src: "/img/examples.png"}
              %td.item-name
                %a
                  Примеры работ
  .right-arrow