%section.header
  %nav.navbar
    .container.modified
      .logo
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.main-menu
          %li.active
            %a
              %span
                Новый проект
          %li
            .divider
          %li
            %a
              %span
                Активные проекты
          %li
            .divider
          %li
            %a
              %span
                Завершённые проекты
          %li
            .divider
          %li
            %a
              %span
                BCGroup сегодня

        .contacts.pull-right
          %span.icon.icon-profile.pull-left
          %a{href: "#"}
            Профиль
          %br
          %span.icon.icon-personal.pull-left
          %a{href: "#"}
            Выйти