@import "constants";
@import "fonts";

.yellow-text {
  color: $color-yellow;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

a {
  cursor: pointer;
  color: $color-links;
}

.top-yellow {
  background-color: #FFFFFF;
  border-top: 5px solid $color-yellow;
  border-bottom: 2px solid #ededed;
  border-left: 1px solid #fcfcfc;
  border-right: 1px solid #fcfcfc;

  margin-bottom: 17px;
  padding: 27px 30px 45px;
  text-align: left;
}