$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$color-yellow: #FFC432;
$color-header: #5c513d;
$color-brown: #77644A;
$color-text: #95806b;
$color-links: #40A4D3;
$page-width: 1080px;