@import "common";
@import "footer";

body {
  font-family: $font-fmOT3-medium;
  font-size: 14px;
}

.f-m-extra-bold {
  font-family: $font-fmOT3-ex-bold;
}

.bordered {
  border: 5px solid #77644A;
  color: #77644A;
  padding: 0 8px;
  font-size: 3em;
  font-weight: bold;
}

.main-block {
  padding: 40px 0;
  text-align: center;
  width: $page-width;
  line-height: 1;

  .comment {
    color: #948269;
    font-family: $font-fmOT3-regular;
    font-size: 1.4em;
    padding-left: 7px;
  }

  .common-statistics {
    margin-bottom: 70px;

    table td {
      padding-left: 10px;
      padding-top: 5px;
      line-height: 1;
    }

    .link {
      color: #40A4D3;
      margin: 0 5px;
      cursor: pointer;
    }

    .link:not(:hover) {
      background: url("../../img/link_line.png") repeat-x 0 3px;
    }

    .link:hover {
      text-decoration: none;
    }

    .statistics {
      @extend .f-m-extra-bold;
      color: $color-yellow;
      font-size: 7em;
      letter-spacing: -0.075em;
      padding: 0;
      line-height: 0.8em;
    }

    .main-statistics {
      @extend .f-m-extra-bold;
      color: $color-yellow;
      font-size: 14em;
      letter-spacing: -0.075em;
      line-height: 0.7em;
      position: relative;
      left: -7px;
      margin-bottom: 10px;
    }

    .bordered-comment {
      font-family: $font-fmOT3-medium;
      color: #948269;
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      margin: 1.5em 0.75em 0.2em 0.75em;
      line-height: 1.5;
    }

    .main-comment {
      font-family: $font-fmOT3-bold;
      color: #948269;
      font-size: 2.75em;
      position: relative;
      left: 0.8em;
      margin-bottom: 0.75em;
    }

    .clock-line {
      height: 98px;

      .clock {
        float: left;
        height: 98px;
        width: 98px;
        background: url("../../img/clock.png");
        margin-left: ($page-width - 98px) / 2;
      }
    }

    .map-line {
      position: absolute;
      margin-top: -40px;
      margin-left: 104px;

      .experience-map {
        height: 150px;
        width: 248px;
        background: url("../../img/map.png");
        margin: 20px 7px;
      }
    }

    .goodness {
      margin-left: 50%;
      text-align: left;
      position: relative;
      left: -4em;
      width: 190px;
      margin-top: 10px;

      .comment {
        padding-top: 5px;
      }
    }

    .operators {
      width: 110px;
      margin-left: 240px;
      position: absolute;
      margin-top: -50px;
    }

    .free-survey {
      position: absolute;
      margin-left: -20px;
      margin-top: -45px;
    }

    .matrix {
      width: 225px;
      margin: 0 10px 10px 193px;
    }

    .quick-analytics {
      width: 550px;
      margin-left: 20px;
      margin-top: 25px;
    }

    .awards-line {
      margin-top: 20px;

      .awards {
        width: 188px;
        float: left;
        height: 64px;
        margin-left: 485px;
        background: url("../../img/awards.png");
        margin-right: 18px;
      }

      .comment {
        padding-top: 64px - 1.5 * $base-font-size * 1.9;
      }
    }

    .final-line {
      $final-line-height: 244px;
      margin-top: -100px;
      margin-bottom: 10px;

      height: $final-line-height;
      > div {
        float: left;
      }

      .safe {
        height: 187px;
        width: 172px;
        background: url("../../img/safe.png");
        margin-top: $final-line-height - 187px;
        margin-left: 200px;
      }

      .operator {
        height: 244px;
        width: 182px;
        background: url("../../img/call_operator.png");
        margin-top: $final-line-height - 244px;
        margin-left: 82px;
      }

      .archive {
        height: 235px;
        width: 340px;
        background: url("../../img/archive.png");
        margin-top: $final-line-height - 235px;
        margin-left: 25px;
        padding-top: 150px;
        padding-left: 30px;

        .projects-count {
          font-family: $font-fmOT3-bold;
          color: $color-yellow;
          font-size: 1.4em;
          text-align: left;
          padding-left: 1em;
          margin-top: 1em;
        }
      }

    }

    .chain1 {
      width: 3px;
      height: 50px;
      background: url("../../img/chain1.png");
    }

    .chain2 {
      width: 127px;
      height: 94px;
      background: url("../../img/chain2.png");
      position: absolute;
      margin-left: 350px;
      margin-top: -3em;
    }

    .chain3 {
      position: absolute;
      margin-left: 460px;
      margin-top: 50px;
      height: 304px;
      width: 42px;
      background: url("../../img/chain3.png");
    }

    .chain4 {
      width: 167px;
      height: 152px;
      background: url("../../img/chain4.png");
      position: relative;
      left: -105px;
      top: -10px;
    }

    .chain5 {
      width: 286px;
      height: 42px;
      background: url("../../img/chain5.png");
      position: relative;
      z-index: 10;
      top: -15px;
      left: -25px;
    }

    .chain6 {
      width: 25px;
      height: 165px;
      background: url("../../img/chain6.png");
      position: absolute;
      margin-left: 440px;
      margin-top: 125px;
    }

    .chain7 {
      width: 36px;
      height: 106px;
      background: url("../../img/chain7.png");
      position: absolute;
      margin-left: 150px;
      margin-top: 160px;
    }

  }

  .projects {
    .head {
      color: $color-yellow;
      font-family: $font-fmOT3-ex-bold;
      font-size: 5em;
      letter-spacing: -.04em;
    }
  }
}
