@import "fixed-menu";
@import "simple-slider";

$height-header: 530px;
$height-top-navbar: 100px;
$height-pages-navbar: 120px;

.header {
  background: #FFFFFF;
  height: $height-header;
  font-family: $font-fmOT3-bold;
  border-bottom: 2px solid #ebebeb;
  font-size: 1.15em;
  padding-top: 30px;

  .container.modified {
    width: 1294px;
  }

  .logo {
    background: url("#{$base-path}img/bcg_logo_2013.png");
    height: 73px;
    width: 208px;
    float: left;
  }

  .main-menu {
    margin-top: 10px;
    margin-left: 15px;
  }

  #navbar {
    a {
      color: $color-brown;
    }

    li {
      .divider {
        border-left: 1px solid $color-brown;
        height: 15px;
        margin-top: 20px;
      }

      &.active {
        a {
          color: $color-yellow;
        }
      }

      a {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }

    .languages {
      margin-top: 10px;
      text-transform: uppercase;
      font-family: $font-fmOT3-regular;

      li {
        &.active {
          a {
            text-decoration: none;
          }
        }
      }

      a {
        font-size: 0.8em;
        color: #4a4b4d;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: underline;

        &:hover {
          background-color: inherit;
          text-decoration: none;
        }
      }
    }

    .search-form {
      margin: 20px 0px;
      width: 230px;

      .input-group-addon {
        border: 2px solid $color-brown;
        border-right-width: 0;
        padding: 3px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #FFFFFF;
      }

      .search-input {
        color: $color-brown;
        padding-left: 6px;
        border: 2px solid $color-brown;
        border-left-width: 0;
        height: 32px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #FFFFFF;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      .icon-search-len {
        font-weight: bold;
        font-size: 18px;
        color: $color-brown;
      }

      .search-len {
        height: 20px;
        width: 20px;
        background: url("#{$base-path}img/search_len.png");
      }
    }

    .contacts {
      font-family: $font-fmOT3-medium;
      color: #4a4b4d;
      padding: 5px 0 0 10px;
      font-size: 14pt;

      a {
        color: #4a4b4d;
      }

      .icon-earphone {
        font-size: 18px;
        color: $color-yellow;
        margin-right: 15px;
        margin-top: 2px;
      }

      .icon-envelope {
        font-size: 20px;
        color: $color-yellow;
        margin-right: 15px;
        margin-top: 5px;
      }

      .earphone {
        background: url("#{$base-path}img/earphone.png");
        height: 17px;
        width: 18px;
        margin-right: 15px;
        margin-top: 5px;
      }

      .envelope {
        background: url("#{$base-path}img/envelope.png");
        height: 13px;
        width: 20px;
        margin-right: 15px;
        margin-top: 8px;
      }
    }
  }

  .jumbotron {
    height: $height-header - $height-top-navbar - 25px;
    padding: 0;
    background: $color-yellow;
    margin-bottom: 0;

    .bcg {
      margin: 15px auto;
      position: relative;
      //background-image: url("#{$base-path}img/BCG_clear.png");
      //background-repeat: no-repeat;
      height: 367px;
      width: 950px;

      .roup {
        padding-top: 164px;
        padding-left: 846px;
        color: #fff;
        font-size: 12em;
        font-family: $font-GP-bold;
      }

      .u-human {
        height: 92px;
        width: 36px;
        background: url("#{$base-path}img/u_human.png");
        position: absolute;
        right: 355px;
        top: 195px;
      }

      .company-purpose {
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 610px;
        font-family: $font-GP-bold;
        font-size: 2.5em;
        padding-top: 15px;
      }
    }
  }
}

.categories-navbar {
  height: $height-pages-navbar;
  background-color: #4b4b4d;
  border-radius: 0;
  padding: 30px 134px;
  font-size: 14pt;
  line-height: 14pt;
  margin-bottom: 70px;

  .slider-items-container {
    width: 95%;
    min-width: 1000px;

  }

  .slider-item {
    width: 270px;

    .item-icon {
      & > a, & > a:hover {
        color: $color-links;

        & > div {
          height: 45px;
          width: 45px;
          font-size: 45px;
          line-height: 45px;
        }
      }
    }

    .item-name a:hover {
      color: $color-yellow;
    }
  }

}
