/*
* Vendor
*/
@import url(../../bower_components/normalize.css/normalize.css);
@import url(../../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(../../bower_components/bootstrap/dist/css/bootstrap-theme.css);
/*
* Custom
*/
@font-face {
  font-family: 'Foundary Monoline OT3 ExtraBold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-ExtraBold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Bold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Bold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Medium';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Medium.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Regular';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Regular.otf"); }

@font-face {
  font-family: 'GothamPro Black';
  src: url("../../fonts/GothamPro/GothaProBla.otf"); }

@font-face {
  font-family: 'GothamPro BlackItalic';
  src: url("../../fonts/GothamPro/GothaProBlaIta.otf"); }

@font-face {
  font-family: 'GothamPro Bold';
  src: url("../../fonts/GothamPro/GothaProBol.otf"); }

@font-face {
  font-family: 'GothamPro BoldItalic';
  src: url("../../fonts/GothamPro/GothaProBolIta.otf"); }

@font-face {
  font-family: 'GothamPro Italic';
  src: url("../../fonts/GothamPro/GothaProIta.otf"); }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../../fonts/GothamPro/GothaProLig.otf"); }

@font-face {
  font-family: 'GothamPro LightItalic';
  src: url("../../fonts/GothamPro/GothaProLigIta.otf"); }

@font-face {
  font-family: 'GothamPro Medium';
  src: url("../../fonts/GothamPro/GothaProMed.otf"); }

@font-face {
  font-family: 'GothamPro MediumItalic';
  src: url("../../fonts/GothamPro/GothaProMedIta.otf"); }

@font-face {
  font-family: 'GothamPro NarrowBold';
  src: url("../../fonts/GothamPro/GothaProNarBol.otf"); }

@font-face {
  font-family: 'GothamPro NarrowMedium';
  src: url("../../fonts/GothamPro/GothaProNarMed.otf"); }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../../fonts/GothamPro/GothaProReg.otf"); }

.yellow-text {
  color: #ffc838; }

.center {
  margin: 0 auto;
  text-align: center; }

.text-left {
  text-align: left; }

@font-face {
  font-family: 'Foundary Monoline OT3 ExtraBold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-ExtraBold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Bold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Bold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Medium';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Medium.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Regular';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Regular.otf"); }

@font-face {
  font-family: 'GothamPro Black';
  src: url("../../fonts/GothamPro/GothaProBla.otf"); }

@font-face {
  font-family: 'GothamPro BlackItalic';
  src: url("../../fonts/GothamPro/GothaProBlaIta.otf"); }

@font-face {
  font-family: 'GothamPro Bold';
  src: url("../../fonts/GothamPro/GothaProBol.otf"); }

@font-face {
  font-family: 'GothamPro BoldItalic';
  src: url("../../fonts/GothamPro/GothaProBolIta.otf"); }

@font-face {
  font-family: 'GothamPro Italic';
  src: url("../../fonts/GothamPro/GothaProIta.otf"); }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../../fonts/GothamPro/GothaProLig.otf"); }

@font-face {
  font-family: 'GothamPro LightItalic';
  src: url("../../fonts/GothamPro/GothaProLigIta.otf"); }

@font-face {
  font-family: 'GothamPro Medium';
  src: url("../../fonts/GothamPro/GothaProMed.otf"); }

@font-face {
  font-family: 'GothamPro MediumItalic';
  src: url("../../fonts/GothamPro/GothaProMedIta.otf"); }

@font-face {
  font-family: 'GothamPro NarrowBold';
  src: url("../../fonts/GothamPro/GothaProNarBol.otf"); }

@font-face {
  font-family: 'GothamPro NarrowMedium';
  src: url("../../fonts/GothamPro/GothaProNarMed.otf"); }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../../fonts/GothamPro/GothaProReg.otf"); }

.yellow-text {
  color: #ffc838; }

.center {
  margin: 0 auto;
  text-align: center; }

.text-left {
  text-align: left; }

@font-face {
  font-family: 'Foundary Monoline OT3 ExtraBold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-ExtraBold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Bold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Bold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Medium';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Medium.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Regular';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Regular.otf"); }

@font-face {
  font-family: 'GothamPro Black';
  src: url("../../fonts/GothamPro/GothaProBla.otf"); }

@font-face {
  font-family: 'GothamPro BlackItalic';
  src: url("../../fonts/GothamPro/GothaProBlaIta.otf"); }

@font-face {
  font-family: 'GothamPro Bold';
  src: url("../../fonts/GothamPro/GothaProBol.otf"); }

@font-face {
  font-family: 'GothamPro BoldItalic';
  src: url("../../fonts/GothamPro/GothaProBolIta.otf"); }

@font-face {
  font-family: 'GothamPro Italic';
  src: url("../../fonts/GothamPro/GothaProIta.otf"); }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../../fonts/GothamPro/GothaProLig.otf"); }

@font-face {
  font-family: 'GothamPro LightItalic';
  src: url("../../fonts/GothamPro/GothaProLigIta.otf"); }

@font-face {
  font-family: 'GothamPro Medium';
  src: url("../../fonts/GothamPro/GothaProMed.otf"); }

@font-face {
  font-family: 'GothamPro MediumItalic';
  src: url("../../fonts/GothamPro/GothaProMedIta.otf"); }

@font-face {
  font-family: 'GothamPro NarrowBold';
  src: url("../../fonts/GothamPro/GothaProNarBol.otf"); }

@font-face {
  font-family: 'GothamPro NarrowMedium';
  src: url("../../fonts/GothamPro/GothaProNarMed.otf"); }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../../fonts/GothamPro/GothaProReg.otf"); }

.yellow-text {
  color: #ffc838; }

.center {
  margin: 0 auto;
  text-align: center; }

.text-left {
  text-align: left; }

.right-quick-menu {
  position: fixed;
  right: 0;
  top: 357px;
  border-collapse: separate;
  border-spacing: 0 5px;
  font-family: "Foundary Monoline OT3 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em; }
  .right-quick-menu a {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: underline; }
    .right-quick-menu a:hover {
      text-decoration: none; }
  .right-quick-menu.dark .menu-item a {
    color: #4a4b4d; }
  .right-quick-menu .menu-item {
    height: 55px; }
  .right-quick-menu .item-icon {
    float: right;
    height: 55px;
    width: 55px;
    background-color: #57585a;
    padding: 7px;
    text-align: center; }
  .right-quick-menu .item-text {
    text-align: right;
    padding: 0 15px; }

.header {
  background: #ffc838;
  height: 940px;
  font-family: "Foundary Monoline OT3 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  padding-top: 30px; }
  .header .navbar {
    height: 100px; }
  .header .main-menu {
    margin-left: 115px; }
  .header #navbar a {
    color: #fff; }
  .header #navbar li .divider {
    border-left: 1px solid #FFFFFF;
    height: 15px;
    margin-top: 20px; }
  .header #navbar li a {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; }
    .header #navbar li a:hover {
      background-color: inherit;
      text-decoration: underline; }
  .header #navbar .languages {
    text-transform: uppercase;
    font-family: "Foundary Monoline OT3 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .header #navbar .languages li.active a {
      text-decoration: none;
      color: #FFFFFF; }
    .header #navbar .languages a {
      font-size: 0.8em;
      color: #4a4b4d;
      padding-left: 5px;
      padding-right: 5px;
      text-decoration: underline; }
      .header #navbar .languages a:hover {
        background-color: inherit;
        text-decoration: none; }
  .header #navbar .search-form {
    margin: 10px 20px;
    width: 230px; }
    .header #navbar .search-form .input-group-addon {
      border: 0;
      padding: 5px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      background-color: #93855e; }
    .header #navbar .search-form .search-input {
      color: #FFFFFF;
      padding-left: 6px;
      border: 0;
      height: 30px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #93855e;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .header #navbar .search-form .search-len {
      height: 20px;
      width: 20px;
      background: url("../../img/search_len.png"); }
  .header #navbar .contacts {
    font-family: "Foundary Monoline OT3 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a4b4d;
    padding: 13px 0 0 10px; }
    .header #navbar .contacts .earphone {
      background: url("../../img/earphone.png");
      height: 17px;
      width: 18px;
      margin-right: 15px; }
    .header #navbar .contacts .envelope {
      background: url("../../img/envelope.png");
      height: 13px;
      width: 20px;
      margin-right: 15px;
      margin-top: 5px; }
  .header .jumbotron {
    height: 740px;
    margin-top: 50px;
    padding: 0;
    background: #ffc838; }
    .header .jumbotron .bcg {
      margin: 0 auto;
      position: relative;
      height: 582px;
      width: 1440px;
      background: url("../../img/BCG_clear.png") no-repeat; }
      .header .jumbotron .bcg .roup {
        padding-top: 164px;
        padding-left: 846px;
        color: #fff;
        font-size: 12em;
        font-family: "GothamPro Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .header .jumbotron .bcg .u-human {
        height: 92px;
        width: 36px;
        background: url("../../img/u_human.png");
        position: absolute;
        right: 355px;
        top: 195px; }
      .header .jumbotron .bcg .company-purpose {
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 610px;
        font-family: "GothamPro Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        padding-top: 15px; }

.categories-navbar {
  height: 120px;
  background-color: #4b4b4d;
  border-radius: 0;
  padding: 30px 134px;
  font-size: 1.1em; }
  .categories-navbar .arrow, .categories-navbar .left-arrow, .categories-navbar .right-arrow {
    height: 37px;
    width: 21px;
    float: left;
    cursor: pointer;
    margin: 10px 0; }
  .categories-navbar .left-arrow {
    background: url("../../img/arrow-left.png"); }
  .categories-navbar .right-arrow {
    background: url("../../img/arrow-right.png"); }
  .categories-navbar .menu-items-container {
    padding: 5px 50px;
    float: left;
    width: 1500px; }
  .categories-navbar .menu-items-wrapper {
    overflow: hidden; }
  .categories-navbar .menu-items {
    height: 48px;
    padding: 0;
    position: relative;
    width: 2000px; }
    .categories-navbar .menu-items li {
      list-style: none;
      float: left;
      max-width: 100%; }
  .categories-navbar .menu-item {
    cursor: pointer;
    width: 200px; }
  .categories-navbar .category-icon {
    height: 45px;
    width: 45px; }
    .categories-navbar .category-icon a {
      text-decoration: none; }
  .categories-navbar .category-name {
    padding: 0 15px; }
    .categories-navbar .category-name a {
      text-decoration: none;
      color: #FFFFFF; }
      .categories-navbar .category-name a:hover {
        text-decoration: none;
        color: #FFFFFF; }

@font-face {
  font-family: 'Foundary Monoline OT3 ExtraBold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-ExtraBold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Bold';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Bold.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Medium';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Medium.otf"); }

@font-face {
  font-family: 'Foundary Monoline OT3 Regular';
  src: url("../../fonts/Foundry Monoline OT3/FoundryMonolineOT3-Regular.otf"); }

@font-face {
  font-family: 'GothamPro Black';
  src: url("../../fonts/GothamPro/GothaProBla.otf"); }

@font-face {
  font-family: 'GothamPro BlackItalic';
  src: url("../../fonts/GothamPro/GothaProBlaIta.otf"); }

@font-face {
  font-family: 'GothamPro Bold';
  src: url("../../fonts/GothamPro/GothaProBol.otf"); }

@font-face {
  font-family: 'GothamPro BoldItalic';
  src: url("../../fonts/GothamPro/GothaProBolIta.otf"); }

@font-face {
  font-family: 'GothamPro Italic';
  src: url("../../fonts/GothamPro/GothaProIta.otf"); }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../../fonts/GothamPro/GothaProLig.otf"); }

@font-face {
  font-family: 'GothamPro LightItalic';
  src: url("../../fonts/GothamPro/GothaProLigIta.otf"); }

@font-face {
  font-family: 'GothamPro Medium';
  src: url("../../fonts/GothamPro/GothaProMed.otf"); }

@font-face {
  font-family: 'GothamPro MediumItalic';
  src: url("../../fonts/GothamPro/GothaProMedIta.otf"); }

@font-face {
  font-family: 'GothamPro NarrowBold';
  src: url("../../fonts/GothamPro/GothaProNarBol.otf"); }

@font-face {
  font-family: 'GothamPro NarrowMedium';
  src: url("../../fonts/GothamPro/GothaProNarMed.otf"); }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../../fonts/GothamPro/GothaProReg.otf"); }

.yellow-text {
  color: #ffc838; }

.center {
  margin: 0 auto;
  text-align: center; }

.text-left {
  text-align: left; }

.footer {
  background: #666054;
  font-family: "Foundary Monoline OT3 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  line-height: 1em;
  color: #fff;
  padding: 33px 0; }
  .footer a {
    color: #fff;
    text-decoration: underline;
    padding: 0 5px; }
  .footer .addresses td {
    padding: 0 30px 16px 0; }
  .footer .address {
    float: right; }
    .footer .address .left {
      float: left;
      text-align: right;
      padding-right: 8px;
      border-right: 1px solid #fff; }
    .footer .address .right {
      float: left;
      padding-left: 8px;
      text-align: left; }
    .footer .address .city {
      color: #ffc838;
      font-family: "Foundary Monoline OT3 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.25em; }
    .footer .address .city, .footer .address .street {
      margin-bottom: 4px; }
  .footer .copyright {
    margin-top: 30px; }

body {
  font-family: "Foundary Monoline OT3 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.f-m-extra-bold, .main-block .common-statistics .statistics, .main-block .common-statistics .main-statistics {
  font-family: "Foundary Monoline OT3 ExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.bordered {
  border: 5px solid #77644A;
  color: #77644A;
  padding: 0 8px;
  font-size: 3em;
  font-weight: bold; }

.main-block {
  padding: 40px 0;
  text-align: center;
  width: 1080px;
  line-height: 1; }
  .main-block .comment {
    color: #948269;
    font-family: "Foundary Monoline OT3 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    padding-left: 7px; }
  .main-block .common-statistics {
    margin-bottom: 70px; }
    .main-block .common-statistics table td {
      padding-left: 10px;
      padding-top: 5px;
      line-height: 1; }
    .main-block .common-statistics .link {
      color: #40A4D3;
      margin: 0 5px;
      cursor: pointer; }
    .main-block .common-statistics .link:not(:hover) {
      background: url("../../img/link_line.png") repeat-x 0 3px; }
    .main-block .common-statistics .link:hover {
      text-decoration: none; }
    .main-block .common-statistics .statistics {
      color: #ffc838;
      font-size: 7em;
      letter-spacing: -0.075em;
      padding: 0;
      line-height: 0.8em; }
    .main-block .common-statistics .main-statistics {
      color: #ffc838;
      font-size: 14em;
      letter-spacing: -0.075em;
      line-height: 0.7em;
      position: relative;
      left: -7px;
      margin-bottom: 10px; }
    .main-block .common-statistics .bordered-comment {
      font-family: "Foundary Monoline OT3 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #948269;
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      margin: 1.5em 0.75em 0.2em 0.75em;
      line-height: 1.5; }
    .main-block .common-statistics .main-comment {
      font-family: "Foundary Monoline OT3 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #948269;
      font-size: 2.75em;
      position: relative;
      left: 0.8em;
      margin-bottom: 0.75em; }
    .main-block .common-statistics .clock-line {
      height: 98px; }
      .main-block .common-statistics .clock-line .clock {
        float: left;
        height: 98px;
        width: 98px;
        background: url("../../img/clock.png");
        margin-left: 491px; }
    .main-block .common-statistics .map-line {
      position: absolute;
      margin-top: -40px;
      margin-left: 104px; }
      .main-block .common-statistics .map-line .experience-map {
        height: 150px;
        width: 248px;
        background: url("../../img/map.png");
        margin: 20px 7px; }
    .main-block .common-statistics .goodness {
      margin-left: 50%;
      text-align: left;
      position: relative;
      left: -4em;
      width: 190px;
      margin-top: 10px; }
      .main-block .common-statistics .goodness .comment {
        padding-top: 5px; }
    .main-block .common-statistics .operators {
      width: 110px;
      margin-left: 240px;
      position: absolute;
      margin-top: -50px; }
    .main-block .common-statistics .free-survey {
      position: absolute;
      margin-left: -20px;
      margin-top: -45px; }
    .main-block .common-statistics .matrix {
      width: 225px;
      margin: 0 10px 10px 193px; }
    .main-block .common-statistics .quick-analytics {
      width: 550px;
      margin-left: 20px;
      margin-top: 25px; }
    .main-block .common-statistics .awards-line {
      margin-top: 20px; }
      .main-block .common-statistics .awards-line .awards {
        width: 188px;
        float: left;
        height: 64px;
        margin-left: 485px;
        background: url("../../img/awards.png");
        margin-right: 18px; }
      .main-block .common-statistics .awards-line .comment {
        padding-top: 24.1px; }
    .main-block .common-statistics .final-line {
      margin-top: -100px;
      margin-bottom: 10px;
      height: 244px; }
      .main-block .common-statistics .final-line > div {
        float: left; }
      .main-block .common-statistics .final-line .safe {
        height: 187px;
        width: 172px;
        background: url("../../img/safe.png");
        margin-top: 57px;
        margin-left: 200px; }
      .main-block .common-statistics .final-line .operator {
        height: 244px;
        width: 182px;
        background: url("../../img/call_operator.png");
        margin-top: 0px;
        margin-left: 82px; }
      .main-block .common-statistics .final-line .archive {
        height: 235px;
        width: 340px;
        background: url("../../img/archive.png");
        margin-top: 9px;
        margin-left: 25px;
        padding-top: 150px;
        padding-left: 30px; }
        .main-block .common-statistics .final-line .archive .projects-count {
          font-family: "Foundary Monoline OT3 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #ffc838;
          font-size: 1.4em;
          text-align: left;
          padding-left: 1em;
          margin-top: 1em; }
    .main-block .common-statistics .chain1 {
      width: 3px;
      height: 50px;
      background: url("../../img/chain1.png"); }
    .main-block .common-statistics .chain2 {
      width: 127px;
      height: 94px;
      background: url("../../img/chain2.png");
      position: absolute;
      margin-left: 350px;
      margin-top: -3em; }
    .main-block .common-statistics .chain3 {
      position: absolute;
      margin-left: 460px;
      margin-top: 50px;
      height: 304px;
      width: 42px;
      background: url("../../img/chain3.png"); }
    .main-block .common-statistics .chain4 {
      width: 167px;
      height: 152px;
      background: url("../../img/chain4.png");
      position: relative;
      left: -105px;
      top: -10px; }
    .main-block .common-statistics .chain5 {
      width: 286px;
      height: 42px;
      background: url("../../img/chain5.png");
      position: relative;
      z-index: 10;
      top: -15px;
      left: -25px; }
    .main-block .common-statistics .chain6 {
      width: 25px;
      height: 165px;
      background: url("../../img/chain6.png");
      position: absolute;
      margin-left: 440px;
      margin-top: 125px; }
    .main-block .common-statistics .chain7 {
      width: 36px;
      height: 106px;
      background: url("../../img/chain7.png");
      position: absolute;
      margin-left: 150px;
      margin-top: 160px; }
  .main-block .projects .head {
    color: #ffc838;
    font-family: "Foundary Monoline OT3 ExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    letter-spacing: -.04em; }
