!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/other.css", rel: "stylesheet"}
  %body
    %script{src: "js/other.js"}
    //= template/header.haml
    //= template/fixed-menu.haml
    .container.modified
      //= template/breadcrumb.haml
      .main-block.center
        .row.title-row
          .title-icon
            .bordered
              .icon.icon-title-service
              -#%img{src: "/img/news.png", height: "38", width: "30"}
          .title
            Анализ конкурентов

        .top-yellow.text-left
          %nav.navbar.categories-navbar.simple-slider
            .left-arrow
            .slider-items-container
              .slider-items-wrapper
                %ul.slider-items
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/to_marketologs.png"}
                        %td.item-name
                          %a
                            Маркетологам
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/analytics.png"}
                        %td.item-name
                          %a
                            Аналитика
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/concurent_analytics.png"}
                        %td.item-name
                          %a
                            Конкурентный анализ
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/call_center.png"}
                        %td.item-name
                          %a
                            Услуги call-центра
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/goodness.png"}
                        %td.item-name
                          %a
                            Оценка удовлетворенности
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/brand_health.png"}
                        %td.item-name
                          %a
                            Узнаваемость, здоровье бренда
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/calc_volume.png"}
                        %td.item-name
                          %a
                            Расчет ёмкости и долей рынка
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %a
                            %img{src: "/img/examples.png"}
                        %td.item-name
                          %a
                            Примеры работ
            .right-arrow
          .text-block
            .row
              .col-sm-6
                %table.section-text
                  %tr
                    %td.section-icon-col
                      .section-icon.icon.icon-service-inner-methods
                      -#%img.section-icon{width: "45", src: "/img/news.png"}
                    %td.section-text-col
                      .title
                        Возможности и методики
                      .body
                        Для отслеживания позиций компании и конкурентов незаменимым показателем является доля
                        рынка. Доля рынка отражает развитие, влияние конкурентов, результаты маркетинговой
                        деятельности каждого из них.
                        Для чего компании необходимо знать и отслеживать эти показатели? Во-первых, зная емкость и
                        доли участников, можно рассчитать не только объем выручки отдельно взятых конкурентов, но и
                        другие финансовые показатели, получить возможность для увеличения собственной доли рынка,
                        выявить наиболее слабые звенья в рыночной цепочке. Вторая причина - это отслеживание
                        развития собственной компании. Развитие компании может выглядеть идеально: растут доходы,
                        увеличивается прибыль. Но при этом рост может быть обусловлен лишь ростом рынка. Показатель
                        доли рынка позволяет отделять эффект роста рынка от роста компании и отслеживать
                        эффективность управленческих и маркетинговых решений.
                %table.section-text
                  %tr
                    %td.section-icon-col
                      .section-icon.icon.icon-service-inner-size-and-time
                      -#%img.section-icon{width: "45", src: "/img/news.png"}
                    %td.section-text-col
                      .title
                        Размер выборки и сроки
                      .body
                        Минимальный размер репрезентативной выборки для подобных проектов в расчете на отдельно взятый регион
                        составляет 600 анкет. Под регионом имеется в виду любая территория, по которой требуется отдельная
                        аналитика (это может быть, например, город Москва или Россия в целом). В случаях, когда необходимо в
                        отдельности рассмотреть и сравнить данные, например, Москвы и Ижевска, минимальная выборка составляет
                        1200 анкет. Минимальный срок такого опроса составляет 1 рабочий день.
                %table.section-text
                  %tr
                    %td.section-icon-col
                      .section-icon.icon.icon-service-inner-price
                      -#%img.section-icon{width: "45", src: "/img/news.png"}
                    %td.section-text-col
                      .title
                        Стоимость
                      .body
                        Стоимость проекта по определению долей участников рынка складывается из стоимости сбора выбранного
                        количества анкет (плата берется только за полностью заполненные анкеты) и стоимости аналитики (как правило,
                        не более 15% от стоимости сбора данных)
                        Рассчитать стоимость одной анкеты можно самостоятельно при помощи нашего
                        &nbsp;
                        %a
                          калькулятора
                        &nbsp;
                        потребуется ввести количество открытых и закрытых вопросов в анкете, квоты)
                        Также вы можете оформить запрос в простой форме ниже. Специалист BCGroup оперативно свяжется с Вами и
                        отправит предложение в течение 1 суток:

                        Оформить заказ
              %table.section-text
                %tr
                  %td.section-icon-col
                    .section-icon.icon.icon-service-inner-description
                    -#%img.section-icon{width: "45", src: "/img/news.png"}
                  %td.section-text-col
                    .title
                      Описание подхода
                    .body
                      Доли рынка определяются на основе финансовых и, реже, натуральных показателей (штуки, тонны и пр).
                      Расчет долей рынка основывается на количественном исследовании (личные, телефонные или онлайн-опросы).
                      Для В2В-рынков часто к количественным методикам добавляются качественные (обычно это экспертные
                      интервью).
                      Иногда у наших заказчиков возникает вопрос о том, чем отличаются данные о емкости и долях участников,
                      публикуемые в СМИ, и данные, получаемые по итогам аналитических проектов? Основное отличие состоит в
                      достоверности исходных данных для расчетов: СМИ берут данные у компаний-участников (которые в
                      PR-интересах могут быть приукрашены), тогда как маркетинговые исследования основываются на реальных
                      рыночных данных. Самым точным способом является сбор данных у потребителей рынка (в том числе
                      используется для рынка B2B). У потребителей нет заинтересованности в искажении информации, поэтому
                      достоверность итоговых данных несравнимо выше.
                %table.section-text
                  %tr
                    %td.section-icon-col
                      .section-icon.icon.icon-service-inner-clock
                      -#%img.section-icon{width: "45", src: "/img/news.png"}
                    %td.section-text-col
                      .title
                        Процесс работы над проектом
                      .body
                        Работа BCGroup над проектом по расчету долей участников рынка строится следующим образом:
                        %ol
                          %li
                            Между BCGroup и компанией подписывается NDA (соглашение о конфиденциальности);
                          %li
                            Специалист BCGroup анализирует ситуацию на рынке, особенности развития рынка, выявляет
                            сильных и слабых участников рынка, а также определяет (самостоятельно или с помощью
                            заказчика) целевую аудиторию рынка;


    //= template/footer.haml