!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/other.css", rel: "stylesheet"}
  %body
    %script{src: "js/main.js"}
    //= template/header.haml
    //= template/fixed-menu.haml
    .container.modified
      //= template/breadcrumb.haml
      .main-block.center


    //= template/footer.haml