!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/other.css", rel: "stylesheet"}
  %body
    %script{src: "js/main.js"}
    //= template/header.haml
    //= template/fixed-menu.haml
    .container.modified
      //= template/breadcrumb.haml
      .main-block.center
        .row.title-row
          .title-icon
            .bordered
              %img{src: "/img/news.png", height: "38", width: "30"}
          .title
            Сотрудники

        .row.center.employees-row-3
          .employee.col-sm-4.top-yellow.first
            .photo
            .text-block
              .specialist
                .full-name
                  Изабелла Гриневская
                .job-position
                  Менеджер по работе с ключевыми клиентами
              .section-text
                .body
                  Главными конкуррентными преимуществами BCGroup являются ориентация на бизнесс-потребности клиентов и высокий уровень компетенции в маркетинговой аналитике, использование международного опыта в работе над проектами.
          .employee.col-sm-4.top-yellow
            .photo
            .text-block
              .specialist
                .full-name
                  Изабелла Гриневская
                .job-position
                  Менеджер по работе с ключевыми клиентами
              .section-text
                .body
                  Главными конкуррентными преимуществами BCGroup являются ориентация на бизнесс-потребности клиентов и высокий уровень компетенции в маркетинговой аналитике, использование международного опыта в работе над проектами.
          .employee.col-sm-4.top-yellow.last
            .photo
            .text-block
              .specialist
                .full-name
                  Изабелла Гриневская
                .job-position
                  Менеджер по работе с ключевыми клиентами
              .section-text
                .body
                  Главными конкуррентными преимуществами BCGroup являются ориентация на бизнесс-потребности клиентов и высокий уровень компетенции в маркетинговой аналитике, использование международного опыта в работе над проектами.
        .row.center.employees-row-2
          .employee.col-sm-4.top-yellow.first
            .photo
            .text-block
              .specialist
                .full-name
                  Изабелла Гриневская
                .job-position
                  Менеджер по работе с ключевыми клиентами
              .section-text
                .body
                  Главными конкуррентными преимуществами BCGroup являются ориентация на бизнесс-потребности клиентов и высокий уровень компетенции в маркетинговой аналитике, использование международного опыта в работе над проектами.
          .employee.col-sm-4.top-yellow.last
            .photo
            .text-block
              .specialist
                .full-name
                  Изабелла Гриневская
                .job-position
                  Менеджер по работе с ключевыми клиентами
              .section-text
                .body
                  Главными конкуррентными преимуществами BCGroup являются ориентация на бизнесс-потребности клиентов и высокий уровень компетенции в маркетинговой аналитике, использование международного опыта в работе над проектами.


    //= template/footer.haml