!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/other.css", rel: "stylesheet"}
  %body
    %script{src: "js/other.js"}
    %script{src: "js/geography.js"}
    //= template/header.haml
    //= template/fixed-menu.haml
    .container.modified
      //= template/breadcrumb.haml
      .main-block.center.geography
        .row.title-row
          .title-icon
            .bordered
              .icon.icon-title-geography
          .title
            География
        .title
          %h1.big-yellow
            Центральный Федеральный Округ
          .subtitle
            Москва, Ярославль, Рязань, Тула, Тверь
        #map

      .main-block.center
        .simple-slider.projects-block
          .left-arrow
          .white-block
            .slider-items-container
              .slider-items-wrapper
                .row
                  .col-sm-4.project
                    .section-text
                      .title
                        Оценка удовлетворённости as dasd asd asasd asd
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4.project
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4.project
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .clearfix
                .pagenum
                  1/35
          .right-arrow
          .clearfix
      .clearfix
    //= template/footer.haml