!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/main.css", rel: "stylesheet"}
  %body
    //= template/landing-header.haml
    .content
      .main-block.center
        .common-statistics
          %span.bordered.f-m-extra-bold
            9
          .bordered-comment
            фактов
            %br
            о компании
          .chain1.center
          .main-statistics
            45000
          .main-comment
            анкет в месяц
          .chain2.center
          .clock-line.center
            .clock
            %table
              %tr
                %td.comment.text-left
                  до
                %td.statistics
                  315
                %td.comment.text-left
                  анкет
                  %br
                  в час
          .pull-left.map-line
            .comment.text-left
              Международный
              %br
              опыт в аналитике
            .experience-map
          .chain3.center
          .goodness
            .statistics
              90%
            .comment.text-left
              уровень
              %br
              удовлетворённости наших клиентов
          .awards-line.center
            .awards
            .comment.text-left
              Заказчик получает
              %br
              награды за наши работы
          .operators
            .statistics.text-left
              50
            .comment.text-left
              операторов
              %br
              call-центра
          .chain4.center
          .free-survey
            .comment.text-left
              Бесплатное проведение
              %br
              онлайн-опросов на платформе
              %br
              BCGroup для клиентов
          .chain5
          .final-line
            .chain7
            .safe
            .chain6
            .operator
            .archive
              .statistics.pull-left
                200
              .projects-count.pull-left
                проектов
                %br
                ежегодно
          .matrix.pull-left
            .comment.text-left
              Собственная
              %br
              матрица оценки рынка
          .quick-analytics.pull-left
            .comment.text-left
              Бесплатная быстрая аналитика и отслеживание сбора анкет в режиме реального времени в
              %a.link
                Личном кабинете
          .clearfix
        .projects
          .head
            Более 1000
          .comment.center
            исследовательских проектов с 2006 г.

    //= template/footer.haml