!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/main.css", rel: "stylesheet"}
  %body
    //= template/header.haml
    .content
      .main-block.center
        .common-statistics
          %span.bordered.f-m-extra-bold
            9
          .bordered-comment
            фактов
            %br
            о компании
          .main-statistics
            45000
          .main-comment
            анкет в месяц
          %div.center
            .clock
            %table
              %tr
                %td.comment
                  до
                %td.statistics
                  315
                %td.comment
                  анкет
                  %br
                  в час
          .clearfix
          .pull-left
            .comment.text-left
              Международный
              %br
              опыт в аналитике
            .experience-map
          .goodness
            .statistics
              90%
            .comment
              уровень
              %br
              удовлетворённости
          .clearfix
          %div.center
            .awards
            .comment
              Заказчик получает
              %br
              награды за наши работы
          .operators
            .statistics.text-left
              50
            .comment
              операторов
              %br
              call-центра
          .free-survey
            .comment
              Бесплатное проведение
              %br
              онлайн-опросов на платформе
              %br
              BCGroup для клиентов
          .matrix
            .comment
              Собственная
              %br
              матрица оценки рынка
          .quick-analytics
            .comment
              Бесплатная быстрая аналитика и отслеживание сбора анкет в режиме реального времени в
              %span.link
                Личном кабинете
        .projects
          .lead
            более 1000
          .lead
            исследовательских проектов с 2006 г.

    //= template/footer.haml