!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title

    %link{href: "css/vendor.css", rel: "stylesheet"}
    %link{href: "css/main.css", rel: "stylesheet"}
  %body
    / bower:js
    / endinject
    %script{src: "js/main.js"}
    //= template/landing-header.haml
    //= template/fixed-menu.haml
    .content
      .main-block.center
        .common-statistics
          %span.bordered.f-m-extra-bold
            9
          .bordered-comment
            фактов
            %br
            о компании
          .chain1.center
          .main-statistics
            45000
          .main-comment
            анкет в месяц
          .chain2.center
          .clock-line.center
            .clock
            %table
              %tr
                %td.comment.text-left
                  до
                %td.statistics
                  315
                %td.comment.text-left
                  анкет
                  %br
                  в час
          .pull-left.map-line
            .comment.text-left
              Международный
              %br
              опыт в аналитике
            .experience-map
          .chain3.center
          .goodness
            .statistics
              90%
            .comment.text-left
              уровень
              %br
              удовлетворённости наших клиентов
          .awards-line.center
            .awards
            .comment.text-left
              Заказчики получают
              %br
              награды за наши работы
          .operators
            .statistics.text-left
              50
            .comment.text-left
              операторов
              %br
              call-центра
          .chain4.center
          .free-survey
            .pig
            .comment.text-left
              Бесплатное проведение
              %br
              онлайн-опросов на платформе
              %br
              BCGroup для клиентов
          .chain5
          .final-line
            .chain7
            .safe
            .chain6
            .operator
            .archive
              .statistics.pull-left
                200
              .projects-count.pull-left
                проектов
                %br
                ежегодно
          .matrix.pull-left
            .comment.text-left
              Собственная
              %br
              матрица оценки рынка
          .quick-analytics.pull-left
            .free-dia
            .comment.text-left
              Бесплатная быстрая аналитика и отслеживание сбора анкет в режиме реального времени в
              %a.link
                Личном кабинете
          .clearfix

        .projects
          .head
            Более 1000
          .comment.center
            исследовательских проектов с 2006 г.

          .simple-slider.logos-line
            .left-arrow
            .slider-items-container
              .slider-items-wrapper
                %ul.slider-items
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %img{src: "/img/sberbank.png"}
                        %td.item-name
                          Сбербанк
                  %li
                    %table.slider-item
                      %tr
                        %td.item-icon
                          %img{src: "/img/sberbank.png"}
                        %td.item-name
                          Газпром
            .right-arrow

          .company-comments
            %ul.comments-slider
              %li.comment
                .comment-image
                  %img{src: "/img/airplane.png"}
                .comment-text
                  .title
                    Сбербанк
                  .body
                    Некоторый текст Некоторый текст Некоторый текст Некоторый текст Некоторый текст
                    Некоторый текст Некоторый текст Некоторый текст Некоторый текст Некоторый текст
                  .specialist
                    .full-name
                      Татьяна Рамзина
                    .job-position
                      начальник рекламного отдела
                  .results
                    .icon.icon-results.pull-left
                    %a{href: ""}
                      Результат
              %li.comment
                .comment-image
                  %img{src: "/img/airplane.png"}
                .comment-text
                  .title
                    Сбербанк
                  .body
                    Некоторый текст Некоторый текст Некоторый текст Некоторый текст Некоторый текст
                    Некоторый текст Некоторый текст Некоторый текст Некоторый текст Некоторый текст
                  .specialist
                    .full-name
                      Татьяна Рамзина
                    .job-position
                      начальник рекламного отдела
                  .results
                    .icon.icon-results.pull-left
                    %a{href: ""}
                      Результат
            .clearfix

      .content.news-voting
        .corner-down.center
        .main-block.center
          .row
            .col-sm-6
              .row.title-row
                .title-icon
                  .bordered
                    %img{src: "/img/news.png", height: "38", width: "30"}
                .title
                  Новости
            .col-sm-6
              .row.title-row
                .title-icon
                  .bordered
                    %img{src: "/img/votes.png", height: "38", width: "30"}
                .title
                  Голосование
          .row.navigation
            .col-sm-6
              %a
                .navigation-up.center
            .col-sm-6
          .row
            .col-sm-6
              .row.content-row.news
                .news-wrapper.slider-items
                  .col-sm-12.top-yellow
                    .text-block
                      .title
                        11.11.2014
                      .body
                        Эксперт BCGroup дал комментарий на Сейчас.ру о падении показателей зарубежных компаний. Эта новость продолжается и на 3ю строку.
                  .col-sm-12.top-yellow
                    .text-block
                      .title
                        10.11.2014
                      .body
                        news 2
                  .col-sm-12.top-yellow
                    .text-block
                      .title
                        9.11.2014
                      .body
                        news 3
                  .col-sm-12.top-yellow
                    .text-block
                      .title
                        9.11.2014
                      .body
                        news 4
            .col-sm-6
              .row.content-row
                .col-sm-12.top-yellow.vote
                  .text-block
                    %form
                      .body
                        Какой из предложенных вариантов более предпочтителен в условиях экономического кризиса, развивающегося на территории Российской Федерации с начала 2014 года?
                      .answers
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                        .answer
                          %input{type: "radio", name: "voting1"}
                          sss
                      .buttons
                        %button.btn.button-main
                          Голосовать
                        %button.btn.button-additional
                          Результаты
          .row.navigation
            .col-sm-6
              %a
                .navigation-down.center
            .col-sm-6
    //= template/contacts-panel.haml
    //= template/footer.haml