!!!
%html
  %head{lang: "ru"}
    %meta{charset: "UTF-8"}
      %title
    %link{href: "css/other.css", rel: "stylesheet"}
  %body
    %script{src: "js/other.js"}
    //= template/header.haml
    //= template/fixed-menu.haml
    .container.modified
      //= template/breadcrumb.haml
      .wide-block.center
        .row.title-row
          .title-icon
            .bordered
              .icon.icon-title-projects
          .title
            Проекты

        .simple-slider.projects-block
          .left-arrow
          .slider-items-container.white-block
            .slider-items-wrapper
              .text-block
                .row.categories-row
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости as dasd asd asasd asd
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                .row.categories-row
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости as dasd asd asasd asd
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                .row.categories-row
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости as dasd asd asasd asd
                      .body
                        asdasdasdasd asd  asd asd a sd asd a sd asd as d asd asd as da sd asd as das das d
                        adasd as d asd  as d sad as das das das das das dasd asd asd asda sdas das dasd asd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                  .col-sm-4
                    .section-text
                      .title
                        Оценка удовлетворённости
                      .body
                        asdasdasdasd
                      .additional-links-row
                        .additional-link.pull-left
                          %span.icon.icon-results
                          %a
                            Подробнее

                        .additional-link.pull-left
                          %span.icon.icon-pdf
                          %a
                            Презентация
                        .clearfix
                .row
                  .pagenum.pull-right
                    1/35
                  .clearfix
          .right-arrow

      .clearfix

      .wide-block.center
        .row.title-row
          .title-icon
            .bordered
              .icon.icon-title-clients
          .title
            Клиенты

        .simple-slider.clients-line
          .left-arrow
          .slider-items-container
            .slider-items-wrapper
              %ul.slider-items
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
                %li
                  .slider-item.top-yellow
                    %table.logo
                      %tr
                        %td
                          %img{src: "/img/sberbank.png"}
                    .text-block
                      .title.text-center
                        Сбербанк
                      .body.text-center
                        Главными конкуррентными преимуществами BCGroup являются ориентация
                      .additional-links-row.text-center
                        .additional-link
                          %span.icon.icon-web
                          %a
                            Сайт компании
          .right-arrow

    //= template/footer.haml